
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* .MenuMobile{
    display: none;
} */

/* body{
    background-color: rgb(187, 187, 42);
} */


@media(min-width:900px){
    .NavContainer{
        display: flex;
    justify-content: space-around;
    align-items: center;
}  
    
    
   
    
    .MenuGrande{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }
    
    .ulGrande{
        display: flex;
        text-decoration: none;
        list-style: none;
        
    }
    
    .liGrande{
        margin-left: 15px;
        padding: 5px;
    }
    
    .liGrande:hover{
       color:white;
        padding: 4px 5px;
    }
    
    .redes{
        display: flex;
    }
    
    .redes a:hover{
        color: white;
    }

    #social{
        margin-left: 15px;
    }
    
    #social:hover{
        cursor: pointer;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logo h1{
        font-size: 1.5rem;
        font-weight: 800;
       
    }
    .logo p{
        font-size: 0.8rem;
    }
}

@media(max-width:900px){
    .NavContainer{
        display: none;
    }
}